<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new video</title>
</head>
<body>
    <form action="/" method="POST">
        <input type="text" placeholder="Folder Path" name="absPath">
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Category" name="category">
        <input type="submit" name="Add">
    </form>
</body>
</html>

absPath: String,
    title: String,
    type: String,
    thumbnail: String,
    category: String