<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=video.title%></title>
</head>
<body>
    <video id="video" src="<%=video.absPath %>" controls autoplay></video>
    <script type="text/javascript" src="/fullscreen.js"></script>
</body>


</html>